/* This is your custom CSS file */

/*
    outline: 1px solid red;

}*/

* {
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;

}

body {
    margin-left: 130px;
    margin-right: 150px;
    background-color: #fff;
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}


nav {
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

.nav-links ul,
li {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 15px;

}

.right-links {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.right-links div {
    padding: 15px;
}

.logo img {
    width: 280px;
}

.first-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
}

.second-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
}

.header3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
}

.view {
    align-items: center;
    padding-bottom: 0px;
}


.line1 {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    gap: 0px;
}

.grid-item-1 {

    max-width: 800px;
    margin: 0 auto;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.grid-item-1 {

    position: relative;
}

.logo-img {
    display: block;
    width: 100%;
}

.image-overlay {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 600px;
    height: 100%;
    padding: 20px;

}



.grid-item-1 .image-text {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: white;
    width: 96.3%;
    padding: 10px;

}


.grid-item-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.grid-item-2.item {
    padding: 20px;

}

.sp-grid-it-2 {

    padding: 30px;
}



.grid-item-1 {
    padding: 20px;
}

.view {
    padding: 20px;
}


.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


.date {
    color: rgba(0, 0, 0, 0.40);
    font-size: 15px;
}



.op-grid-item-1 {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    padding: 10px;
}

.op-grid-item-2 {

    border-right: 1px solid rgba(0, 0, 0, 0.13);
    padding: 8px;
}



.op-grid-item-3 {

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.description {
    padding: 0px;
    text-align: start;
}

img:hover {
    border: 1px solid rgb(123, 126, 110);
}

.item {


    font-weight: light 300;
    font-size: 18px;

}

.description {
    color: rgb(60, 58, 58);
}

.Henry {
    width: 350px;
    height: 460px;



}

.sp-grid-it-1 {
    padding: 15px;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.pHenry {

    font-size: 15px;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 2.5fr;

}

.sp-grid-it-1 {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.header4 {
    display: flex;
    justify-content: space-between;
}

.img {

    width: 1200px;
    height: 300px;
    padding: 10px;
}

.meals {
    font-size: 18px;
}

.container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.img5 {
    width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


}

.img2 {
    width: 190px;
    height: 200px;
}

.itt {
    padding: 15px;
}

.container5 {
    border-top: 1px solid rgba(0, 0, 0, 0.13);

}

.it-1 {
    border-right: 1px solid rgba(0, 0, 0, 0.13);

}

.it-2 {
    border-right: 1px solid rgba(0, 0, 0, 0.13);

}

.header-mw {
    display: flex;
    justify-content: space-between;
}

.container6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-tag-1 {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);

}

.item-tag-2 {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);

}

.item-tag-3 {
    border-right: 1px solid rgba(0, 0, 0, 0.13);

}

.item-tag-2-1 {

    border-bottom: 1px solid rgba(0, 0, 0, 0.13);

}

.item-tag-2-2 {

    border-bottom: 1px solid rgba(0, 0, 0, 0.13);

}


.starLabs img {
    width: 300px;
    height: 400px;
    align-items: center;
    margin-left: 70px;

}

.tag-1 div {
    padding: 20px
}

.tag-2 div {
    padding: 20px
}

.button {
    background-color: black;
    color: white;
    border-radius: 30px;

}

.button:hover {
    background-color: rgb(246, 239, 239);
    color: rgb(0, 0, 0);
}

.Subscribe {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 254, 254);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 20px;
    border-radius: 20px;

}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.footer-logo {
    width: 270px;
}

.footer-links {
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 20px;
    border-radius: 20px;
}

/*
@media screen and (max-width:768px) {
    body {
        overflow: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: beige;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {

    transform: translateX(0%);
}*/